@import "tailwindcss";


h2 {
  font-size: 22px;
}

@theme {
  --color-some: red;
  --animate-myAni: ani 2s ease-in infinite;
  --breakpoint-sm: 500px;

  --my-grid: repeat(auto-fit, minmax(300px, 1fr));




  @keyframes ani {
    10% {
      background-color: red;
    }

    50% {
      background-color: purple;
    }

    100% {
      background-color: brown;
    }
  }

}

/* @config {
  theme: {
    extend: {
      colors: {
        some: 'red'
      }
    }
  }
} */
/* base layer , component layer utitlities */

@layer base {
  h2 {
    @apply text-2xl font-bold;
  }

  button {
    @apply cursor-pointer;
  }
}

@layer components {
  .btn {
    @apply bg-amber-400 px-2 text-amber-100 rounded-2xl py-2 ring-2 ring-purple-400;
  }
}

@utility flex-center {
  @apply flex justify-center items-center;
}